<!DOCTYPE html>
<html lang="pt-BR">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>E-Saving @ViewData["Title"]</title>
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/header.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/footer.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/e_saving.styles.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/responsive.css" asp-append-version="true" />
    <asp:contentPlaceholder id="head" runat="server" />

</head>

<body>

    <header>

        @* LOGO *@
        <h1>
            <a asp-area="" asp-controller="Home" asp-action="Index">
                <img src="~/images/logo.png" alt="Logo" border="0" id="main-logo">
            </a>
        </h1>

        <div id="header-container">
            @* Botão do Menu Hambúrguer *@
            <button class="hamburger" id="menu-toggle" aria-label="Abrir menu">
                ☰
            </button>

            @* NAV *@

            <nav class="menu" id="menu">
                <ul id="nav-list">
                    <li class="nav-item">
                        <a asp-area="" asp-controller="Home" asp-action="QuemSomos">Quem somos?</a>
                    </li>
                    <li class="nav-item">
                        <a asp-area="" asp-controller="Home" asp-action="PontosColeta">Pontos de coleta</a>
                    </li>
                    @* <li class="nav-item">
                        <a asp-area="" asp-controller="Home" asp-action="AreaParceiro">Área do parceiro</a>
                    </li> *@
                    <li class="nav-item">
                        <a asp-area="" asp-controller="Home" asp-action="SejaParceiro">Seja parceiro</a>
                    </li>
                    <li class="nav-item">
                        <a asp-area="" asp-controller="Home" asp-action="SejaComprador">Seja comprador</a>
                    </li>
                </ul>
            </nav>

            @* USER CONTAINER *@
            @* ## tag is filled with different content depending if the user is logged or not ## *@

            <div id="user-div"></div>
            
            <div id="user-box" class="mouseOut" onmouseover="boolBoxIn()" onmouseleave="boolBoxOut(), hideBox()" onclick="logOut()">
                <img src="~/images/logout.png" alt=''>
                <ul>
                    <li>Sair</li>
                </ul>
            </div>
        </div>

    </header>

    <main role="main">
        @RenderBody()
    </main>

    <footer>

        @* div to separate the footer content from the vectorial image *@
        <div id="footer-container">
            
            @* spot to add content that will only be displayed in some pages *@
            <span id="footer-add"></span>

            @* div to separate the footer lists (social media and nav) from the infos *@
            <div id="footer-lists">

                @* CONTACT LINKS *@
                <ul id="social-media">
                    <li class="social-media-item">
                        <a href="https://www.instagram.com/" target="_blank"><img src="~/images/instagram.png" alt="Ícone do Instagram"></a>
                    </li>
                    <li class="social-media-item">
                        <a href="https://x.com/" target="_blank"><img src="~/images/twitter.png" alt=""></a>
                    </li>
                    <li class="social-media-item">
                        <a href="tel:+5511999999999" target="_blank"><img src="~/images/telephone.png" alt=""></a>
                    </li>
                    <li class="social-media-item">
                        <a href="https://www.linkedin.com/" target="_blank"><img src="~/images/linkedin.png" alt=""></a>
                    </li>
                </ul>

                @* FOOTER NAV *@
                <ul id="footer-nav">
                    <span>
                        <li class="footer-nav-item">
                            <a asp-area="" asp-controller="Home" asp-action="QuemSomos">Quem somos?</a>
                        </li>
                        <li class="footer-nav-item">
                            <a asp-area="" asp-controller="Home" asp-action="PontosColeta">Pontos de    coleta</a>
                        </li>
                        <li class="footer-nav-item">
                            <a asp-area="" asp-controller="Home" asp-action="AreaParceiro">Área do  parceiro</a>
                        </li>
                    </span>
                    <span>
                        <li class="footer-nav-item">
                            <a asp-area="" asp-controller="Home" asp-action="SejaParceiro">Seja     parceiro</a>
                        </li>
                        <li class="footer-nav-item">
                            <a asp-area="" asp-controller="Home" asp-action="SejaComprador">Seja    comprador</a>
                        </li>
                        <li class="footer-nav-item">
                            <a asp-area="" asp-controller="Home" asp-action="">Contatos</a>
                        </li>
                    </span>
                </ul>
            </div>

            @* footer infos *@
            <div id="footer-info">
                <h6>&copy; E-Saving Serviços de Reciclagem LTDA</h6>
                <h6>v20241115.1.0</h6>
            </div>
        </div>

        @* vectorial image *@
        <img src="~/images/footer.png" alt="Imagem vetorial para efeito visual" id="footer-vector">

    </footer>

    @model variables.Models.GlobalVariables
    <script>
        var isUserLogged = @Model.userLogged;
        var isClient = @Model.isCliente;
        var isPartner = @Model.isParceiro;
        var isBuyer = @Model.isComprador;
        console.log(isClient)
        console.log(isPartner)
        console.log(isBuyer)
    </script>

    @* JS scripts *@
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/js/headerUserDiv.js" asp-append-version="true"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    <script src="~/js/indexFooter.js" asp-append-version="true"></script>
    <script src="~/js/hamburguer.js" asp-append-version="true"></script>
    <script src="~/js/userShowHide.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)

</body>
</html>
