<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>E-Saving @ViewData["Title"]</title>
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/e_saving.styles.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/layout2.css" asp-append-version="true" />
</head>
<body>

    <main role="main">
        <div id="fields">
            <h1>
                <a asp-area="" asp-controller="Home" asp-action="Index" >
                    <img src="~/images/logo_color.png" alt="Logo" border="0" id="main-logo">
                </a>
            </h1>

            <h2>@ViewData["Title"]</h2>

            <form method="post" asp-action="@ViewData["Action"]">
                @RenderBody()
                <input type="submit" value="@ViewData["Submit"]" id="submit-button" tabindex="@ViewData["SubmitTabIndex"]">
                <a href="#" class="form-link" tabindex="@ViewData["ExtraTabIndex"]">@ViewData["Extra"]</a>
            </form>

        </div>
    </main>

    <footer>
        <div>
            <h6>&copy; E-Saving Serviços de Reciclagem LTDA</h6>
            <h6>v20241115.1.0</h6>
        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>